<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="image" default="image_topic"/>
  <arg name="images_path" default="$(find hugin_panorama)images"/>

  <group ns="hugin_panorama">
    <node pkg="image_view" type="image_saver" name="image_saver" output="screen">
      <param name="filename_format" value="$(arg images_path)/%04i.png"/>
      <param name="save_all_image" value="false"/>
      <!-- INPUT TOPICS -->
      <remap from="image" to="$(arg image)" />
    </node>

    <node pkg="hugin_panorama" type="hugin_panorama" name="hugin_panorama" output="screen">
      <param name="images_path" value="$(arg images_path)"/>
      <!-- OUTPUT TOPICS -->
      <remap from="panorama/compressed" to="panorama/compressed" />
    </node>
  </group>
</launch>
